<div><img id="preview" height="200px"></div>

<div class="mt-5">
  <input type="file" id="vision-form-file-input" accept="image/*" name="vision-file-input">
  <button id="vision-form-submit">解析</button>
</div>