<table id="vision-result-table" class="table mt-4">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Description</th>
      <th scope="col">Score</th>
    </tr>
  </thead>
  <tbody id="vision-result-table-body">
  </tbody>
</table>