<div class="main">
  <div class="d-lg-flex align-items-center fade-in text-center">
    <img src="https://cdn.svgporn.com/logos/nestjs.svg" width="200" alt="nestjs icon" />
    <h1 class="pl-lg-3">This web application is created with nestjs</h1>
  </div>
</div>

<section class="container">
  <h2 class="text-center">Use Technologies</h2>
  <div class="row row-cols-1 row-cols-md-3">
    <div class="col" style="min-height: 500px;">
      <%- include('../components/sections/_openapi.ejs'); %>
    </div>
    <div class="col" style="min-height: 500px;">
      <%- include('../components/sections/_graphql.ejs'); %>
    </div>
    <div class="col" style="min-height: 500px;">
      <%- include('../components/sections/_cloud-vision.ejs'); %>
    </div>
  </div>
</section>