<div class="main">
  <div class="d-lg-flex align-items-center top-logo fade-in text-center">
    <img src="https://cdn.svgporn.com/logos/nestjs.svg" width="200" alt="nestjs icon" />
    <h1 class="pl-lg-3">This web application is created with nestjs</h1>
  </div>
</div>