<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Purpose application</title>
</head>

<body id="container">
  <header>Header</header>
  <%- body %>
  <footer>Footer</footer>
</body>

</html>