<div class="main">
  <div class="d-lg-flex align-items-center top-logo fade-in text-center">
    <img src="/images/cloud-vision-api-512-color.svg" width="200" alt="cloud vision icon">
    <h1 class="pl-lg-2">Lets try Cloud Vision API</h1>
  </div>
</div>

<section>
  <h2>How to use?</h2>
  <h4>URLクエリパラメータにタイプを指定することで様々な画像認識を行うことができます</h4>
  <table class="table table-sm table-dark">
    <div class="table-responsive">
      <table class="table align-middle">
        <thead>
          <tr>
            <th>Type</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="https://cloud.google.com/vision/docs/labels?hl=ja" target="_blank">LABEL_DETECTION</a></td>
            <td>事前定義されたラベルを使用した画像の分類</td>
          </tr>
          <tr>
            <td><a href="https://cloud.google.com/vision/docs/ocr?hl=ja" target="_blank">TEXT_DETECTION</a></td>
            <td>画像からテキストを検出、抽出します。</td>
          </tr>
          <tr>
            <td><a href="https://cloud.google.com/vision/docs/detecting-landmarks?hl=ja"
                target="_blank">LANDMARK_DETECTION</a></td>
            <td>よく知られている自然のランドマークや人工建造物を画像から検出します。</td>
          </tr>
          <tr>
            <td><a href="https://cloud.google.com/vision/docs/detecting-faces?hl=ja" target="_blank">FACE_DETECTION</a>
            </td>
            <td>画像に含まれる複数の人物の顔を検出します。さらに感情や wearing headwear など、関連する主な顔属性についても識別します。</td>
          </tr>
          <tr>
            <td><a href="https://cloud.google.com/vision/docs/detecting-logos?hl=ja" target="_blank">LOGO_DETECTION</a>
            </td>
            <td>よく知られている商品のロゴを画像から検出します。</td>
          </tr>
        </tbody>
      </table>
    </div>
  </table>
</section>