<div class="main">
  <div class="d-lg-flex align-items-center top-logo fade-in text-center">
    <img src="/images/cloud-vision-api-512-color.svg" width="200" alt="cloud vision icon">
    <h1>Lets try Cloud Vision API</h1>
  </div>
</div>