<div class="main">
  <div class="d-lg-flex align-items-center top-logo fade-in text-center">
    <img src="/images/cloud-vision-api-512-color.svg" width="200" alt="cloud vision icon">
    <h1 class="pl-lg-2">Lets try Cloud Vision API</h1>
  </div>
</div>

<section>
  <h2>How to use?</h2>
  <h4>URLクエリパラメータにタイプを指定することで様々な画像認識を行うことができます</h4>
  <table class="table table-sm table-dark">
    <div class="table-responsive">
      <table class="table align-middle">
        <thead>
          <tr>
            <th>Type</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <% visions.forEach(vision => { %>
          <%- include('../../components/_vision-td.ejs', { vision: vision}); %>
          <% }) %>
        </tbody>
      </table>
    </div>
  </table>
</section>