section {
  text-align: center;

  h2 {
    color: #a9a6a3;
  }

  h3 {
    color: #202020;
  }
}

td {
  a,
  a:link,
  a:visited,
  a:active {
    color: #999693;
    text-decoration: none;
  }

  a:hover {
    color: #202020;
  }
}

.vision-json {
  background-color: #364549;
  color: #e3e3e3;
}