<div class="content col" style="min-height: 500px;">
  <div class="content-logo">
    <img src="/images/cloud-vision-api-512-color.svg" height="150" alt="cloud vision icon">
    <h5 class="mt-3"><a href="https://cloud.google.com/vision?hl=ja" target="_blank"> Cloud Vision API</a></h5>
  </div>
  <p class="content-text">Google Cloud の Vision API は REST API や RPC API を介して強力な事前トレーニング済み機械学習モデルを提供します。画像にラベルを割り当てることで、事前定義済みの数百万のカテゴリに画像を高速に分類できます。</p>
</div>