<div>
  <div class="logo-content">
    <img src="/images/cloud-vision-api-512-color.svg" height="150" alt="cloud vision icon">
    <h5 class="mt-3"><a href="https://cloud.google.com/vision?hl=ja" target="_blank"> Cloud Vision API</a></h5>
  </div>
</div>