<div>
  <div class="logo-content">
    <img src="https://cdn.svgporn.com/logos/graphql.svg" height="150" alt="swagger logo" />
    <h5 class="mt-3"><a href="https://graphql.org/" target="_blank">GraphQL</a></h5>
  </div>
</div>