<div class="content col" style="min-height: 500px;">
  <div class="content-logo">
    <img src="https://cdn.svgporn.com/logos/swagger.svg" height="150" alt="swagger logo" />
    <h5 class="mt-3"><a href="https://swagger.io/" target="_blank">Swagger</a></h5>
  </div>
  <p class="content-text">
    SwaggerはRESTful APIを構築するためのオープンソースのフレームワークです。REST APIの設計、構築、文書化、および使用に役立つ機能を提供します。
  </p>
</div>