body {
  font-size: 16px; }

h1 {
  font-size: 36px; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 24px; }

h4, h5, h6 {
  font-size: 20px; }

@media (min-width: 1200px) {
  body {
    line-height: 1.5;
    font-size: 18px; }
  h1 {
    font-size: 38px; }
  h2 {
    font-size: 32px; }
  h3 {
    font-size: 28px; }
  h4, h5, h6 {
    font-size: 20px; } }

@media screen and (max-width: 640px) {
  body {
    font-size: 14px; }
  h1 {
    font-size: 28px; }
  h2 {
    font-size: 24px; }
  h3 {
    font-size: 20px; }
  h4, h5, h6 {
    font-size: 16px; } }
